.spoiler_des,
.spoiler_cmt{
    text-align: center;
}

button.read-more_des,
button.read-more_cmt{
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: #fff;
  padding: 5px;
  font-weight: 700;
  border-radius: 20px;
 }

  button.read-more_des:hover,
   button.read-more_cmt:hover{
    background: #ff3368; }

.hidden-text_des {
    text-align: left;
}

.fadeOnHidden {
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}