{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-info">TRANG CHỦ THỐNG KÊ!!!</h1>
<form action="">
    <div class="row">
            <div class="col-md-6 form-group p_star">
                Tháng:
                <input type="number" class="form-control" name="month" min="1" max="12" value="{{ current_month }}"/>
              </div>
              <div class="col-md-6 form-group p_star">
                  Năm:
                <input type="number" class="form-control" name="year" min="{{ min_year }}" max="{{ max_year }}" value="{{ current_year }}"/>
              </div>
        </div>

    <div>
        <input type="submit" value="Lọc dữ liệu" class="btn btn-info">
    </div>
</form>
<div class="row">
    <div class="col-md-5 col-sm-12">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Loại sản phẩm</th>
                <th>Doanh thu</th>
                <th>Số lượt mua</th>
                <th>Tỉ lệ</th>
            </tr>

            {% for s in stats_revenue %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td>{{ s[3] }}</td>
                <td>{{ "{:,.0f}".format(s[4]) }}%</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-7 col-sm-12">
        <canvas id="revenueChart"></canvas>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/my-chart.js') }}"></script>
<script>
    let labels = []
    let data = []
    {% for s in stats_revenue %}
    labels.push('{{ s[1] }}')
    data.push({{ s[2] }})
    {% endfor %}

    window.onload = function(){
        drawRevenueChart(labels, data);
    }


</script>
{% endblock %}
