<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>
        {% block title %} {% endblock %}
    </title>

    <script>
        window.onload = function() {
        var el = document.getElementById('scroll_this');
        el.scrollIntoView(true);
    }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/uikit.min.js"></script>
<!--    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>




    <!--  css   -->
    <link href=" {{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href=" {{ url_for('static', filename='css/animate.css') }}" rel="stylesheet"/>
    <link href=" {{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet"/>
    <link href=" {{ url_for('static', filename='css/all.css') }}" rel="stylesheet"/>
    <link href=" {{ url_for('static', filename='css/flaticon.css') }}" rel="stylesheet"/>
    <link href=" {{ url_for('static', filename='css/themify-icons.css') }}" rel="stylesheet"/>
    <link href=" {{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet"/>
    <link href=" {{ url_for('static', filename='css/slick.css') }}" rel="stylesheet"/>
    <link href=" {{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <link href=" {{ url_for('static', filename='css/uikit.min.css') }}" rel="stylesheet" />

    <!--  Google Font  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,300,400i,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500i,700" rel="stylesheet">

    <!-- uikit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/uikit.min.css" />

    {% block css %} {% endblock %}
    {% block js %} {% endblock %}
</head>
<body>
    {% block header %}
        {% include 'layout/header.html' %}
    {% endblock %}
    {% block content %} {% endblock %}
    {% block footer %}
        {% include 'layout/footer.html' %}
    {% endblock %}



    <!--  JavaScript Template-->

<!--    <script src="{{ url_for('static', filename='js/jquery-1.12.1.min.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/masonry.pkgd.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mail-script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stellar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
</body>
</html>