<footer class="footer_part">
        <div class="container ">
            <div class="row justify-content-around">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Sản phẩm</h4>
                        <ul class="list-unstyled">
                            <li><a >Bài tập lớn công nghệ phần mềm</a></li>
                            <li><a >Đề tài: Web quản lý nhà sách</a></li>
                            <li><a >Lớp: DH20IT01</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Người thực hiện</h4>
                        <ul class="list-unstyled">
                            <li><a >Phan Thanh Hải</a></li>
                            <li><a >Lại Bình Phong</a></li>
                            <li><a >Giảng viên hướng dẫn: Dương Hữu Thành</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Tài liệu tham khảo</h4>
                        <ul class="list-unstyled">
                            <li><a >Template: aranoz-master</a></li>
                            <li><a >Web: flask-saleapp</a></li>
                            <li><a >Dữ liệu copy từ: nhà sách tiki</a></li>
                            <li><a ></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
<!--        <div class="copyright_part">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-8">-->
<!--                        <div class="copyright_text">-->
<!--                            <P>&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</P>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4">-->
<!--                        <div class="footer_icon social_icon">-->
<!--                            <ul class="list-unstyled">-->
<!--                                <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>-->
<!--                                <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>-->
<!--                                <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </footer>