{% extends 'layout/base.html' %}

{% block content %}
<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_checkout">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Thanh toán</h2>
                        <p>Trang chủ <span>-</span>Thanh toán</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="hide_div">
    <div class="modal">
        <div class="modal__overlay"></div>
        <div class="modal__body">
            <div class="text-center login_to_continue">
                <p style="margin: 5px;">Bạn phải đăng nhập để tiếp tục</p>
                <div class="checkout_btn_inner">
                    <a class="btn_1" href="/login">Đăng nhập</a>
                    <a class="btn_1 checkout_btn_1" href="/cart_details">Trở lại</a>
                </div>
            </div>
        </div>
</div>
</div>
<!-- breadcrumb start-->

{% if 'cart' in session %}
{% if current_user.is_authenticated %}
<script>
    document.getElementById("hide_div").style.display = "none";
</script>
<section class="checkout_area padding_top padding_bottom" id="scroll_this">
    <div class="container">
      <div class="billing_details">
        <div class="row my_modify">
          <div class="left_side">
              <div class="col-lg-8" >
                <h3>Thông tin người nhận</h3>
                <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                  <div class="col-md-12 form-group">
                      Tên khách hàng
                    <input type="text" class="form-control" id="first" name="name" readonly value="{{ current_user.name }}">
                  </div>
                    <div class="col-md-12 form-group">
                      Số điện thoại
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ current_user.phone_number }}">
                  </div>
                  <div class="col-md-12 form-group" id="address_field" style="display: none;">
                      Địa chỉ giao hàng
                    <input type="text" class="form-control" name="address" id="address" placeholder="Vui lòng cung cấp địa chỉ giao hàng !">
                  </div>
                </form>
              </div>
          </div>
          <div class="right_side ">
              <div class="">
                <div class="order_box">
                  <h2>Đơn hàng của bạn</h2>
                  <ul class="list">
                    <li>
                      <a>Sản phẩm
                        <span>Thành tiền</span>
                      </a>
                    </li>
                      {% for c in session['cart'].values() %}
                        <li>
                          <div style="display: flex; justify-content: space-between;">
                              <a style="width: 75%; display: flex; justify-content: space-between;" href="/products/product_id={{ c.id }}">
                                <p>{{ c.book_name }}</p>
                                  <span class="middle">x{{ c.quantity }}</span>
                              </a>
                              <span class="last" style="border-bottom: 1px solid #eeeeee; display: flex; align-items: center; justify-content: center; text-align: center">{{ "{:,.0f}".format(c.unit_price * c.quantity) }} VNĐ</span>
                          </div>
                        </li>
                      {% endfor %}
                  </ul>
                  <ul class="list list_2">
                    <li id="ship_fee" style="display: none;">
                      <a>Phí giao hàng
                        <span>Miễn phí</span>
                      </a>
                    </li>
                    <li>
                      <a>Tổng cộng
                        <span id="total_checkout">{{ "{:,.0f}".format(cart.total_amount) }} VNĐ</span>
                      </a>
                    </li>
                  </ul>
                  <div class="payment_item">
                    <div class="radion_btn">
                      <input type="radio" id="f-option5" name="selector" checked/>
                      <label for="f-option5">Thanh toán trực tiếp</label>
                      <div class="check"></div>
                    </div>
                      <p id="ship_option">
                          <input type="checkbox" id="f-option" name="selector">
                          <label for="f-option">Giao hàng tận nhà</label>
                      </p>
                  </div>
                  <div class="payment_item active">
                    <div class="radion_btn">
                      <input type="radio" id="f-option6" name="selector" />
                      <label for="f-option6">Thanh toán Momo </label>
                      <img src="static/images/MoMo_Logo.png" style="width: 30px; height: 30px;" alt="" />
                      <div class="check"></div>
                    </div>
                  </div>
                  <a style="display:none;" id="submit_offline" class="btn_3" onclick="pay(document.getElementById('address').value, true)">Xác nhận thanh toán</a>
                    <a id="submit_momo" class="btn_3" onclick="payWithMoMo(document.getElementById('address').value, true)">Xác nhận thanh toán</a>
                  <script>
                  $(document).ready(function(){
                    let F = 0;

                    $('#f-option').click(function() {
                        if ($(this).is(':checked')) {
                            $('#address_field').fadeIn();
                            $('#ship_fee').fadeIn();
                            F = 1;
                        }
                        else{
                            $('#address_field').fadeOut();
                            $('#ship_fee').fadeOut();
                            F = 0;
                        }
                     });

                    $("input[name='selector']").click(function() {
                        if($('#f-option6').is(':checked')) {
                            console.log("caught");
                            $('#address_field').fadeIn();
                            $('#submit_offline').hide();
                            $('#submit_momo').show();
                            $('#ship_option').fadeOut();
                            $('#ship_fee').fadeIn();
                         }
                        else  {
                            $('#submit_offline').show();
                            $('#submit_momo').hide();
                            $('#ship_option').fadeIn();
                            if(F == 0){
                                $('#address_field').fadeOut();
                                $('#ship_fee').fadeOut();
                            }
                         }
                     });
                  })
                  </script>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--<input type="button" onclick="pay(document.getElementById('address').value, false)" value="Thanh toán trực tiếp">-->
<!--<input type="button" onclick="payWithMoMo(document.getElementById('address').value, true)" value="Thanh toán MoMo">-->
{% else %}
<script>
    document.getElementById("hide_div").style.display = "block";
</script>
{% endif %}
{% else %}
<h1 class="alert alert-danger">Giỏ hàng trống</h1>
{% endif %}
<!--================End Checkout Area =================-->
{% endblock %}