{% extends 'layout/base.html' %}

{% block css %}
 <link href=" {{ url_for('static', filename='css/read_more.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- breadcrumb start-->
<script src="/static/js/cart.js"></script>
<section class="breadcrumb breadcrumb_bg_details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Chi tiết sản phẩm</h2>
                        <p>Cửa hàng <span>-</span> Chi tiết sản phẩm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================Single Product Area =================-->
<div class="product_image_area section_padding" id="scroll_this">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-7 col-xl-7">
                <div class="product_slider_img">
                    <div id="vertical">
                        <div>
                            <img src="{{ product.image }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <h3>{{ product.book_name }}</h3>
                    <h4>Tác giả: {{ product.author_name }}</h4>
                    <h2>{{ "{:,.0f}".format(product.unit_price) }} VNĐ</h2>
                    <ul class="list">
                        <li>
                            <h4>Thể loại: {{category_name}} </h4>
                        </li>
                        <li>
                            <h4>Đã bán: {{ product.sold_numbers }}</h4>
                        </li>
                        {% if product.quantity != 0 %}
                            <li>
                            <h4>Còn tồn kho: {{ product.quantity }}</h4>
                        </li>
                        {% endif  %}
                    </ul>
                    <div class="des_container">
                        <div class="spoiler_des">
                            <div class="p_wrap hidden-text hidden-des">
                                Mô tả:<br> {{ product.descriptions|safe }}
                            </div>
                        </div>
                    </div>
                    <div class="card_area d-flex justify-content-between align-items-center">
                        {% if product.quantity == 0 %}
                            <a href="#" class="disable-btn">Hết hàng</a>
                        {% else  %}
                            <div class="product_count">
                                <span class="number-decrement" onclick="decreaseValue()"> <i class="ti-minus"></i></span>
                                <input id="input-quantity" onchange="checkQuantity()" class="input-number" type="number" value="1" min="1" max="{{product.quantity}}">
                                <span class="number-increment" onclick="increaseValue()"> <i class="ti-plus"></i></span>
                            </div>
                        <a id="btn_addToCart" href="javascript:;" onclick="addToCart({{product.id}}, '{{product.book_name}}',
                        {{product.unit_price}}, '{{product.image}}', getInputQuantity(), {{product.quantity}})" class="btn_3 pop-up_click">Thêm vào giỏ hàng</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-lg-8 posts-list padding_bottom" style="margin: 0 auto;">
    <div class="comments-area">
        <h4>Bình luận</h4>
        <div class="spoiler_cmt ">

            <div class="hidden-text">
                <div>
                    <div id="comments"></div>
                </div>
            </div>
        </div>

        {% if current_user.is_authenticated %}
        <form class="form-contact comment_form" action="#" id="commentForm">
            <div class="row">
                <div class="col-12" style="height: 100px;">
                    <div class="form-group">
                        <textarea class="form-control w-100" name="comment-content" id="comment-content" cols="30" rows="5"
                                 placeholder="Nội dung bình luận..."></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <a onclick="addComment({{ product.id }})" class="btn_3 button-contactForm">Thêm bình luận</a>
            </div>
        </form>
        {% else %}
        <p>Vui lòng <a href="/login?next=/products/product_id={{ product.id }}">đăng nhập</a> để bình luận</p>
        {% endif %}
    </div>
</div>
<!--================End Single Product Area =================-->


<script>
    function increaseValue() {
        var value = parseInt(document.getElementById('input-quantity').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('input-quantity').value = value;
        checkQuantity();
    }

    function decreaseValue() {
        var value = parseInt(document.getElementById('input-quantity').value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById('input-quantity').value = value;
        checkQuantity()
    }

    function checkQuantity() {
        var value = parseInt(document.getElementById('input-quantity').value, 10);
        if(value > {{ product.quantity }}){
            document.getElementById('input-quantity').value = {{ product.quantity }};
        }
        else if(value <= 0){
             document.getElementById('input-quantity').value = 1;
        }
    }

</script>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/details.js') }}"></script>
<script src="{{ url_for('static', filename='js/read_more.js') }}"></script>
<script>
    window.onload = () => {
        loadComments({{ product.id }});

        let min_line_des = 6;
        let line_count_des;
        $('.hidden-des').each(function(){line_count_des = $(this).getLines();})
        readMore( $('.spoiler_des'), min_line_des, line_count_des);


        let min_line_cmt = 4;
        readMore( $('.spoiler_cmt'), 4, 8);
    }
</script>
{% endblock %}