{% extends 'layout/base.html' %}

{% block title %}Cửa hàng{% endblock %}

{% block css %}
<!--    auto-complete-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="static/css/pagination.css">
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $(function(){
        var availableTags = []
        {% for p in list_products_name %}
            availableTags.push("{{p}}")
        {% endfor %}
        $( "#tags" ).autocomplete({
        source: availableTags
        });
    });

</script>
{% endblock %}

{% block content %}
<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Cửa hàng</h2>
                        <p>Mang tri thức đến tương lai</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Category Product Area =================-->
<section class="cat_product_area section_padding" id="scroll_this">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Chọn loại sách</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list" style="padding-left: 0px">
                                <li>
                                    <a id="all_cate" href="/products">Tất cả</a>
                                </li>
                                {% for c in categories %}
                                <li>
                                    <a id="{{ c.id }}" href="/products?category_id={{ c.id }}">{{ c.category_name }}</a>
                                </li>
                                {% endfor %}

                                {% if cate_id %}
                                <script>
                                        document.getElementById("{{ cate_id }}").style.fontWeight = "bold";
                                        document.getElementById("{{ cate_id }}").style.color = "#ff3368";

                                </script>
                                {% else %}
                                <script>
                                        document.getElementById("all_cate").style.fontWeight = "bold";
                                        document.getElementById("all_cate").style.color = "#ff3368";

                                </script>
                                {% endif %}
                            </ul>
                        </div>
                    </aside>

                    <aside class="left_widgets p_filter_widgets price_rangs_aside">
                        <div class="l_w_title">
                            <h3>Lọc theo giá sản phẩm</h3>
                        </div>
                        <div class="widgets_inner">
                            <div class="range_item">
                                <!--<div id="slider-range"></div>-->

                                <input type="text" class="js-range-slider" value=""/>
                                <div class="d-flex">
                                    <div class="price_text">
                                        <p>Từ :</p>
                                    </div>
                                    <div class="price_value d-flex justify-content-center">
                                        <input type="text" class="js-input-from" id="amount_from" readonly/>
                                        <span>Đến</span>
                                        <input type="text" class="js-input-to" id="amount_to" readonly/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product_top_bar d-flex justify-content-between align-items-center">
                            <div class="single_product_menu d-flex">
                            </div>
                            <div class="single_product_menu d-flex">
                                <div class="input-group ui-widget">
                                    <input type="text" class="form-control" id="tags" placeholder="Tìm kiếm"
                                           aria-describedby="inputGroupPrepend">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i
                                                    class="ti-search"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center latest_product_inner">
                    {% for i in range( (page - 1) * max_amount_per_page, page * max_amount_per_page) %}
                    {% if products[i] %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <!--category_id sẽ nhận giá trị lấy từ cate_id, giá trị được đổ ra từ template trong index-->
                            <!--i sẽ là giá trị truyền vào từ vòng lặp for-->
                            <div class="image-container"
                                 onclick="location.href='/products/product_id={{products[i].id}}?category_id={{cate_id}}&i={{i}}';">
                                <img src="{{ products[i].image }}" alt="{{ products[i].name }}">
                                <div class="after"><p><span class="ti-new-window"></span> Xem thêm chi tiết</p></div>
                            </div>
                            <div class="single_product_text">
                                <h4>{{ products[i].book_name }}</h4>
                                <h3>{{ products[i].unit_price }}</h3>
                                <a href="#" class="add_cart">Thêm vào giỏ hàng</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="col-lg-12">
                        <!--Dynamic pagination here-->
                        <div class="page-container">
                            <button class="first-page" disabled>
                                <i class="fas fa-angle-double-left"></i>
                            </button>
                            <button class="prev-page" disabled>
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <div id="pagination"></div>
                            <button class="next-page">
                                <i class="fas fa-angle-right"></i>
                            </button>
                            <button class="last-page">
                                <i class="fas fa-angle-double-right"></i>
                            </button>
                        </div>
<!--                        <div class="pageination">-->
<!--                            <nav aria-label="Page navigation example">-->
<!--                                <ul class="pagination justify-content-center">-->
<!--                                    {% if page != 1 %}-->
<!--                                    {% if cate_id %}-->
<!--                                    <li class="page-item">-->
<!--                                        <a class="page-link" href="/products?category_id={{ cate_id }}&page={{ 1 }}"-->
<!--                                           aria-label="Previous">-->
<!--                                            <i class="ti-angle-double-left"></i>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    {% else %}-->
<!--                                    <li class="page-item">-->
<!--                                        <a class="page-link" href="/products?page={{ 1 }}" aria-label="Previous">-->
<!--                                            <i class="ti-angle-double-left"></i>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    {% endif %}-->
<!--                                    {% endif %}-->
<!--                                    {% if page != 1 %}-->
<!--                                    {% if cate_id %}-->
<!--                                    <li class="page-item">-->
<!--                                        <a class="page-link"-->
<!--                                           href="/products?category_id={{ cate_id }}&page={{ page - 1 }}"-->
<!--                                           aria-label="Previous">-->
<!--                                            <i class="ti-angle-left"></i>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    {% else %}-->
<!--                                    <li class="page-item">-->
<!--                                        <a class="page-link" href="/products?page={{ page - 1 }}" aria-label="Previous">-->
<!--                                            <i class="ti-angle-left"></i>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    {% endif %}-->
<!--                                    {% endif %}-->
<!--                                    {% for x in range(page_count) %}-->
<!--                                    {% if cate_id %}-->
<!--                                    <li class="page-item"><a id="cate{{ cate_id }}_page{{ x + 1 }}"-->
<!--                                                             class="page-link {{ page }}"-->
<!--                                                             href="/products?category_id={{ cate_id }}&page={{ x + 1 }}">{{x + 1 }}</a></li>-->
<!--                                    {% else %}-->
<!--                                    <li class="page-item"><a id="page{{ x + 1 }}" class="page-link"-->
<!--                                                             href="/products?page={{ x + 1 }}">{{ x + 1 }}</a></li>-->
<!--                                    {% endif %}-->
<!--                                    {% endfor %}-->

<!--                                    {% if page != page_count %}-->
<!--                                    {% if cate_id %}-->
<!--                                    <li class="page-item">-->
<!--                                        <a class="page-link"-->
<!--                                           href="/products?category_id={{ cate_id }}&page={{ page + 1 }}"-->
<!--                                           aria-label="Next">-->
<!--                                            <i class="ti-angle-right"></i>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    {% else %}-->
<!--                                    <li class="page-item">-->
<!--                                        <a class="page-link" href="/products?page={{ page + 1 }}" aria-label="Next">-->
<!--                                            <i class="ti-angle-right"></i>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    {% endif %}-->
<!--                                    {% endif %}-->

<!--                                    {% if page != page_count %}-->
<!--                                    {% if cate_id %}-->
<!--                                    <li class="page-item">-->
<!--                                        <a class="page-link"-->
<!--                                           href="/products?category_id={{ cate_id }}&page={{ page_count }}"-->
<!--                                           aria-label="Next">-->
<!--                                            <i class="ti-angle-double-right"></i>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    {% else %}-->
<!--                                    <li class="page-item">-->
<!--                                        <a class="page-link" href="/products?page={{ page_count }}" aria-label="Next">-->
<!--                                            <i class="ti-angle-double-right"></i>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    {% endif %}-->
<!--                                    {% endif %}-->

<!--                                    {% if cate_id %}-->
<!--                                    <script>-->
<!--                                                document.getElementById("cate{{ cate_id }}_page{{ page }}").style.color = "#ff3368";-->

<!--                                    </script>-->
<!--                                    {% else %}-->
<!--                                    <script>-->
<!--                                                document.getElementById("page{{ page }}").style.color = "#ff3368";-->

<!--                                    </script>-->
<!--                                    {% endif %}-->
<!--                                </ul>-->
<!--                            </nav>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--run pagination-->
<script src="static/js/pagination.js"></script>
<script>
    pagination('{{cate_id}}')
</script>
<!--================End Category Product Area =================-->
{% endblock %}
