{% extends 'layout/base.html' %}
{% block content %}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg_details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Chi tiết sản phẩm</h2>
                        <p>Cửa hàng <span>-</span> Chi tiết sản phẩm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================Single Product Area =================-->
<div class="product_image_area section_padding" id="scroll_this">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-7 col-xl-7">
                <div class="product_slider_img">
                    <div id="vertical">
                        <div>
                            <img src="{{ product.image }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <h5><a href="/products/product_id={{product.id}}?category_id={{cate_id}}&i={{i - 1 if i > 0 else size}}" class = "feature_btn">sản phẩm trước</a>
                        <span>|</span> <a href="/products/product_id={{product.id}}?category_id={{cate_id}}&i={{i + 1 if size > i else 0}}" class = "feature_btn">sản phẩm sau</a></h5>
                    <h3>{{ product.book_name }}</h3>
                    <h4>Tác giả: {{ product.author_name }}</h4>
                    <h2>{{ "{:,.0f}".format(product.unit_price) }} VNĐ</h2>
                    <ul class="list">
                        <li>
                            <h4>Thể loại: {{category_name}} </h4>
                        </li>
                        <li>
                            <h4>Đã bán: {{ product.sold_numbers }}</h4>
                        </li>
                        {% if product.quantity != 0 %}
                            <li>
                            <h4>Còn tồn kho: {{ product.quantity }}</h4>
                        </li>
                        {% endif  %}
                    </ul>
                    <p>
                        Mô tả: {{ product.descriptions|safe }}<br>
                    </p>
                    <div class="card_area d-flex justify-content-between align-items-center">
                        {% if product.quantity == 0 %}
                            <a href="#" class="disable-btn">Hết hàng</a>
                        {% else  %}
                            <div class="product_count">
                            <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                            <input class="input-number" type="text" value="1" min="0" max="10">
                            <span class="number-increment"> <i class="ti-plus"></i></span>
                            </div>
                        <a href="#" class="btn_3">Thêm vào giỏ hàng</a>
                        {% endif %}

                        <!--              <a href="#" class="like_us"> <i class="ti-heart"></i> </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
{% endblock %}