{% extends 'layout/base.html' %}

{% block title %}Cửa hàng{% endblock %}

{% block css %}
<!--    auto-complete-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="static/css/pagination.css">
<link href=" {{ url_for('static', filename='css/range_slider.css') }}" rel="stylesheet" />
<link href=" {{ url_for('static', filename='css/nice-select.css') }}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    var sort_value = {{ sort_value }};
    var min_price = {{ min_price }};
    var max_price = {{ max_price }};
    var from_price = {{ from_price }};
    var to_price = {{ to_price }};

    function getLeft(){
        var from_pos = $('.from').css('left');
        var to_pos = $('.to').css('left');

<!--        {{ from_price_pos }} = from_pos;-->
<!--        {{ to_price_pos }} = to_pos;-->
    }

    $(function(){
        var availableTags = []
        {% for p in list_products_name %}
            availableTags.push("{{p}}")
        {% endfor %}
        $( "#tags" ).autocomplete({
        source: availableTags
        });
    });


</script>
{% endblock %}

{% block content %}
<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Cửa hàng</h2>
                        <p>Mang tri thức đến tương lai</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Category Product Area =================-->
<section class="cat_product_area section_padding" id="scroll_this">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Chọn loại sách</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list" style="padding-left: 0px">
                                <li>
                                    <a id="all_cate" href="/products?sort_choice={{ sort_value }}&from_price={{ from_price }}&to_price={{ to_price }}">Tất cả</a>
                                </li>
                                {% for c in categories %}
                                <li>
                                    <a id="{{ c.id }}" href="/products?category_id={{ c.id }}&sort_choice={{ sort_value }}&from_price={{ from_price }}&to_price={{ to_price }}">{{ c.category_name }}</a>
                                </li>
                                {% endfor %}

                                {% if cate_id %}
                                <script>
                                        document.getElementById("{{ cate_id }}").style.fontWeight = "bold";
                                        document.getElementById("{{ cate_id }}").style.color = "#ff3368";


                                </script>
                                {% else %}
                                <script>
                                        document.getElementById("all_cate").style.fontWeight = "bold";
                                        document.getElementById("all_cate").style.color = "#ff3368";


                                </script>
                                {% endif %}
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product_top_bar d-flex justify-content-between align-items-center">
                            <div>
                                <div class="left_widgets p_filter_widgets price_rangs_aside">
                                    <div class="l_w_title">
                                        <h4>Lọc theo giá sản phẩm</h4>
                                    </div>
                                    <div class="widgets_inner">
                                        <div class="range_item">
                                              <div class="row">
                                                <div class="col-sm-12">
                                                  <div id="slider-range"></div>
                                                </div>
                                              </div>
                                              <div class="row slider-labels">
                                                <div class="col-sm-12">
                                                  <strong>Từ:</strong> <span id="slider-range-value1"></span><span style="margin-left: 5px;">VNĐ</span>
                                                    <strong style="margin-left: 10px;">Đến:</strong> <span id="slider-range-value2"></span><span style="margin-left: 5px;">VNĐ</span>
                                                </div>
                                                <div class="col-xs-6 text-right caption">

                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-sm-12">
                                                    <form>
                                                        {% if cate_id %}
                                                        <input type="hidden" name="category_id" value="{{ cate_id }}">
                                                        {% endif %}
                                                        <input type="hidden" name="sort_choice"
                                                               value="{{ sort_value }}">
                                                        <input type="hidden" id="from_price" name="from_price">
                                                        <input type="hidden" id="to_price" name="to_price">
                                                        <button class="btn_3" style="margin-top: 10px;"
                                                                onclick="getValue()" type="submit">Xác nhận
                                                        </button>
                                                    </form>
                                                </div>
                                              </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <form id="sort_product">
                                <div class="single_product_menu d-flex">
                                    <h4 style="color: #FF3368; font-weight: bold">Sắp xếp theo: </h4>
                                    {% if cate_id %}
                                    <input type="hidden" name="category_id" value="{{ cate_id }}">
                                    {% endif %}
                                    <input type="hidden" name="from_price" value="{{ from_price }}">
                                    <input type="hidden" name="to_price" value="{{ to_price }}">
                                    <select id="sort_choice" name="sort_choice" onchange="this.form.submit()">
                                        <option value="1">Tên sản phẩm tăng</option>
                                        <option value="2">Tên sản phẩm giảm</option>
                                        <option value="3">Giá sản phẩm tăng</option>
                                        <option value="4">Giá sản phẩm giảm</option>
                                    </select>
                                </div>
                            </form>
                            <form>
                                <div class="single_product_menu d-flex">
                                    <div class="input-group ui-widget">
                                        <input type="text" name="keyword" class="form-control" id="tags"
                                               placeholder="Tìm kiếm"
                                               aria-describedby="inputGroupPrepend">
                                        <button id="search" type="submit">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i
                                                    class="ti-search"></i></span>
                                            </div>
                                            <script>
                                            var input = document.getElementById("tags");
                                            input.addEventListener("keypress", function(event) {
                                              if (event.key === "Enter") {
                                                event.preventDefault();
                                                document.getElementById("search").click();
                                              }
                                            });

                                            </script>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center latest_product_inner">
                    {% for i in range( (page - 1) * max_amount_per_page, page * max_amount_per_page) %}
                    {% if products[i] %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <!--category_id sẽ nhận giá trị lấy từ cate_id, giá trị được đổ ra từ template trong index-->
                            <!--i sẽ là giá trị truyền vào từ vòng lặp for-->
                            <div class="image-container"
                                 onclick="location.href='/products/product_id={{products[i].id}}?category_id={{cate_id}}&i={{i}}';">
                                <img src="{{ products[i].image }}" alt="{{ products[i].name }}">
                                <div class="after"><p><span class="ti-new-window"></span> Xem thêm chi tiết</p></div>
                            </div>
                            <div class="single_product_text">
                                <h4>{{ products[i].book_name }}</h4>
                                <h5>Tác giả: {{ products[i].author_name }}</h5>
                                <h3>{{ "{:,.0f}".format(products[i].unit_price) }} VNĐ</h3>
                                <a href="#" class="add_cart">Thêm vào giỏ hàng</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="col-lg-12">
                        <!--Dynamic pagination here-->
                        <div class="page-container">
                            <button class="first-page" disabled>
                                <i class="fas fa-angle-double-left"></i>
                            </button>
                            <button class="prev-page" disabled>
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <div id="pagination"></div>
                            <button class="next-page">
                                <i class="fas fa-angle-right"></i>
                            </button>
                            <button class="last-page">
                                <i class="fas fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--run pagination-->
<!--run range slider-->
<script>
    function getValue(){
        $("input#from_price").val(parseInt($("#slider-range-value1").text()));
        $("input#to_price").val(parseInt($("#slider-range-value2").text()));
    }
</script>
<script src="{{ url_for('static', filename='js/range_slider.js') }}"></script>

<!--Select Sort-->
<script>
    document.getElementById('sort_choice').value= {{ sort_value }};
</script>
<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>

<script>
    var page_count = {{ page_count }};
    var page_index = {{ page }};
    var categoryId = {{ cate_id }};

</script>
<script src="static/js/pagination.js"></script>
<script>
    pagination();
</script>
<!--================End Category Product Area =================-->
{% endblock %}
